{
	# https://caddyserver.com/docs/caddyfile/options#auto-https
	# 'off' will disable HTTPS entirely (no cert management or redirects)
	# 'disable_redirects' will disable only HTTP->HTTPS redirects
	# 'disable_certs' will disable only certificate automation
	# 'ignore_loaded_certs' will automate certificates even for names which appear on
	# manually-loaded certs
	order replace after encode
	auto_https off
}

# API: https://github.com/bitpay/insight-api/tree/dbfafe8911ebf740df114f6609fc58cf8235f2c6

#http://localhost:3001 {
#kmd-explorer-example.com {
http://kmd-explorer-example.com {
	# https://caddyserver.com/docs/caddyfile/directives/handle
	# https://caddyserver.com/docs/caddyfile/matchers#syntax
	# https://caddyserver.com/docs/caddyfile/directives/respond
	handle /insight-api-komodo/addr/RXL3YXG2ceaB6C5hfJcN4fvmLH2C34knhA* {
		header Content-Type "application/json; charset=utf-8"
		respond `{"addrStr":"RXL3YXG2ceaB6C5hfJcN4fvmLH2C34knhA","balance":0.00000000,"balanceSat":0,"totalReceived":0.00000000,"totalReceivedSat":0,"totalSent":0.00000000,"totalSentSat":0,"unconfirmedBalance":0,"unconfirmedBalanceSat":0,"unconfirmedTxApperances":0,"txApperances":0}` 200
	}

	handle /insight-api-komodo/currency {
		header Content-Type "application/json; charset=utf-8"
		respond `{"status":200,"data":{"bitstamp":0}}` 200
	}

	# https://caddyserver.com/docs/caddyfile/matchers
	@addrMatcher {
		method GET
		path /insight-api-komodo/txs
		query address=RXL3YXG2ceaB6C5hfJcN4fvmLH2C34knhA
		#query address=adr2
		#expression {query.address} == "adr1" || {query.address} == "adr2"
	}

	handle @addrMatcher {
		header Content-Type "application/json; charset=utf-8"
		respond `{"pagesTotal":0,"txs":[]}` 200
	}

	# Matcher for the specific JavaScript file
	@jsMainFile {
		path /js/main.min.js
	}

	# Use the replace directive, https://github.com/caddyserver/replace-response
	replace @jsMainFile stream {
		match {
			header Content-Type application/javascript*
		}
		# Replace the second KMD with your TICKER, if it's assetchain
		`"TAZ":"KMD"` `"TAZ":"KMD"`
		# TypeError: Cannot read properties of undefined (reading 'config') temp workaround
		`.directive("clipCopy",function(){return ZeroClipboard.config({moviePath:"/lib/zeroclipboard/ZeroClipboard.swf",trustedDomains:["*"],allowScriptAccess:"always",forceHandCursor:!0}),{restric:"A",scope:{clipCopy:"=clipCopy"},template:'<div class="tooltip fade right in"><div class="tooltip-arrow"></div><div class="tooltip-inner">Copied!</div></div>',link:function(scope,elm){var clip=new ZeroClipboard(elm);clip.on("load",function(client){var onMousedown=function(client){client.setText(scope.clipCopy)};client.on("mousedown",onMousedown),scope.$on("$destroy",function(){client.off("mousedown",onMousedown)})}),clip.on("noFlash wrongflash",function(){return elm.remove()})}}})` ``
	}

	# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
	reverse_proxy komodo-explorer:3002 {
		# header_up Host {http.request.host}
		header_up Host {http.reverse_proxy.upstream.hostport}
		header_up X-Real-IP {http.request.remote}
		# header_up X-Forwarded-For {http.request.remote}
		header_up X-Forwarded-Port {http.request.port}
		# header_up X-Forwarded-Proto {http.request.scheme}
		header_up Connection {http.request.header.Connection}
		header_up Upgrade {http.request.header.Upgrade}
	}

	log {
		output file /var/log/kmdexplorer.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 720h
		}
	}

	# tls admin@kmd-explorer-example.com
}
